node_modules/
.env
.env*
.env.local
*.env
*.env*
server/.env
server/.env*
server/.env.local

# Ignore all data and secrets
server/data/
server/data/*.json
/data/
data/
data/*.json
auth.json
admin-sessions.json
verify.json
comments.json
reactions.json

# Ignore npm logs
npm-debug.log*
